*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.header{
    width: 100%;
    height: 690px;
    background: linear-gradient(rgba(2, 57, 87, 1), rgba(5, 96, 136, 1));
    position: relative;
    z-index: 0;
}

button{
    background: linear-gradient(rgba(5, 96, 136, 1), rgba(9, 167, 202, 1));
    padding: 22px 40px 23px 41px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  button:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }

.header{
    margin-bottom: 110px ;
}

.container{
    max-width: 1440px;
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
    border: 2px solid red;
    position: relative; 
}

.header .container img{
    position: absolute;
    right: 0;
}

.header .container .logo__menu--wrap{
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}

.header .container .logo__menu--wrap .logo a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 66px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header .container .logo__menu--wrap  .menu nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.header .container .logo__menu--wrap  .menu nav ul a{
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.header .container .header__title{
    position: absolute;
    top: 190px;
    left: 91px;
    z-index: 2;
}

.header .container .header__title h1{
    font-weight: 700;
    font-size: 52px;
    color: rgba(255, 255, 255, 1);
}

.header .container .header__title p{
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 1);
    margin: 16px 0 32px 0;
}

.container .company{
    max-width: 1243px;
    width: 100%;
    height: 419px;
    display: flex;
    gap: 600px;
}

.container .company .images__wrap .circle p{
    font-weight: 500;
    font-size: 16px;
    color: rgba(5, 96, 136, 1);
}

.container .company .images__wrap .circle{
    width: 168px;
    height: 168px;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 8px 30px 0 rgba(5, 96, 136, 0.15);
    position: relative;
    left: 236px;
    top: 126px;
    z-index: 1;
}

.container .company .images__wrap .house{
    position: absolute;
    top: 0;
}

.container .company .images__wrap .architect{
    position: absolute;
    top: 260px;
}

.container .company .images__wrap .builders{
    position: absolute;
    top: 0;
    left: 400px;
}

.container .company .images__wrap .villa{
    position: absolute;
    left: 400px;
    top: 177px;
}

.container .company .title p:first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgba(5, 96, 136, 1);
    margin-bottom: 16px;
}

.container .company .title p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
    margin-bottom: 16px;
}

.container .company .title p:nth-child(3){
    font-weight: 500;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
    margin-bottom: 16px;
}

.container .company .title .title__about{
    display: flex;
    align-items: center;
    gap: 62px;
    margin-bottom: 32px;
}

.container .company .title .title__about p{
    font-weight: 700;
    font-size: 20px;
    color: rgba(5, 96, 136, 1);
}

.container .services{
    margin: 100px 0;
}

.container .services p:first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgba(5, 96, 136, 1);
    text-align: center;
    margin-bottom: 16px;
}

.container .services p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    margin-bottom: 32px;
}

.container .services .services__desigin--wrap{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .services .services__desigin--wrap .img1__wrap{
    background-image: url(../assets/images/house2.png);
    background-repeat: no-repeat;
    width: 310px;
    height: 240px;
    padding: 27px 37px;
}

.container .services .services__desigin--wrap .img1__wrap p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

.container .services .services__desigin--wrap .img1__wrap p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.container .services .services__desigin--wrap .img2__wrap{
    width: 310px;
    height: 240px;
    padding: 27px 37px;
}

.container .services .services__desigin--wrap .img2__wrap p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color:rgba(67, 67, 67, 1);
    text-align: start;
}

.container .services .services__desigin--wrap .img2__wrap p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
}

.container .services .services__desigin--wrap .img3__wrap{
    width: 310px;
    height: 240px;
    padding: 27px 37px;
}

.container .services .services__desigin--wrap .img3__wrap p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color:rgba(67, 67, 67, 1);
    text-align: start;
}

.container .services .services__desigin--wrap .img3__wrap p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
}

.container .services .services__desigin--wrap .img4__wrap{
    width: 310px;
    height: 240px;
    padding: 27px 37px;
}

.container .services .services__desigin--wrap .img4__wrap p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color:rgba(67, 67, 67, 1);
    text-align: start;
}

.container .services .services__desigin--wrap .img4__wrap p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
}

.container .benefits p:first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgba(5, 96, 136, 1);
    text-align: center;
    margin-bottom: 16px;
}

.container .benefits p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
    text-align: center;
    margin-bottom: 32px;
}

.container .benefits .benefits__cards--wrap{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    z-index: 1;
}

.container .benefits .benefits__cards--wrap .card1{
    width: 420px;
    height: 313px;
    background-image: url(../assets/images/card1.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px 95px 42px 95px;
    text-align: center;
}

.container .benefits .benefits__cards--wrap .card1 p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.container .benefits .benefits__cards--wrap .card1 p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.container .benefits .benefits__cards--wrap .card2{
    width: 420px;
    height: 313px;
    background-image: url(../assets/images/card2.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px 57px 42px 57px;
    text-align: center;
}

.container .benefits .benefits__cards--wrap .card2 p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.container .benefits .benefits__cards--wrap .card2 p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.container .benefits .benefits__cards--wrap .card3{
    width: 420px;
    height: 313px;
    background-image: url(../assets/images/card3.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 55px 57px 42px 57px;
    text-align: center;
}

.container .benefits .benefits__cards--wrap .card3 p:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 16px;
}

.container .benefits .benefits__cards--wrap .card3 p:nth-child(3){
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.works{
    width: 100%;
    height: 1414px;
    margin: 0 auto;
    position: relative;
    top: 240px;
    z-index: -1;
    background-image: url(../assets/images/works__back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.works .container p:first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    position: absolute;
    top: 190px;
    left: 46%;
}

.works .container p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 247px;
    left: 38%;
    text-align:center ;
    margin-bottom: 32px;
}

.works .container .imgs__wrap{
    position: relative;
    top: 366px;
}

.works .container .imgs__wrap .img1{
    position: absolute;
    right: 1100px;
}

.works .container .imgs__wrap .img2{
    position: absolute;
    top: 198px;
    right: 1100px;
}

.works .container .imgs__wrap .img3{
    position: absolute;
    right: 880px;
}

.works .container .imgs__wrap .img4{
    position: absolute;
    right: 440px;
}

.works .container .imgs__wrap .img5{
    position: absolute;
    top: 297px;
    right: 440px;
}

.works .container .imgs__wrap .img6{
    position: absolute;
    right: 220px;
}

.works .container .imgs__wrap .img7{
    position: absolute;
    right: 0;
    top: 276px;
}

.works .container .imgs__wrap .img8{
    position: absolute;
    right: 0px;
    top: 138px;
}

.works .container .imgs__wrap .img9{
    position: absolute;
    right: 0;
}

.works .container .imgs__wrap .line{
    width: 715px;
    height: 2px;
    background:linear-gradient(rgba(5, 96, 136, 1), rgba(9, 167, 202, 1));
    position: absolute; 
    top: 530px;
    right: 198px;
}
.works .container .imgs__wrap .button{
    position: absolute;
    top: 500px;
    right: 0px;
}

.works .container .imgs__wrap .button:hover{
    cursor: pointer;
}

.container .ideas{
    margin-bottom: 100px;
}

.container .ideas .box__picture--wrap .box{
    width: 330px;
    height: 320px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 2;
    top: -164px;
    padding: 50px 30px;
}

.container .ideas .box__picture--wrap .box p:first-child{
    font-weight: 700;
    font-size: 24px;
    color: rgba(5, 96, 136, 1);
    margin-bottom: 16px;
}

.container .ideas .box__picture--wrap .box p:nth-child(2){
    font-weight: 400;
    font-size: 16px;
    color: rgba(67, 67, 67, 1);
    margin-bottom: 32px;
}

.container .ideas .box__picture--wrap img:nth-child(2){
    position: absolute;
    top: -164px;
    right: 67px;
    z-index: 2;
}

.container .ideas .box__picture--wrap .box1{
    width: 970px;
    height: 401px;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    right: -140px;
    right: 91px;
}

.container .ideas .box__picture--wrap .idea{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    width: 416px;
    height: 266px;
    padding: 59px 24px 29px 50px;
    background: linear-gradient(rgba(2, 57, 87, 1), rgba(5, 96, 136, 1));
    position: absolute;
    right: 67px;
    top: 50px;
    z-index: 3;
}

.container .ideas .box__picture--wrap .idea p:first-child{
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.container .ideas .box__picture--wrap .idea p:nth-child(2){
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}

.container .ideas .box__picture--wrap .idea img:nth-child(3){
    position: absolute;
    top: -50px;
    left: -30px;
}

.container .Partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 300px;
    margin-bottom: 100px;
}

.container .Partners a{
    text-decoration: none;
}

.container .Partners a p{
    font-weight: 600;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.3);
}

.container .video__part{
    margin-bottom: 77px;
}

.container .video__part iframe:first-child{
    display: flex;
    justify-self: center;
    position: relative;
}

.container .video__part .box {
    width: 416px;
    height: 129px;
    padding: 32px 67px 39px 53px;
    background: linear-gradient(rgba(2, 57, 87, 1), rgba(5, 96, 136, 1));
    position: absolute;
    right: 178px;
    bottom: 50px;
    z-index: 1;
}

.container .video__part .box p:first-child{
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.container .registration{
    width: 1300px;
    height: 428px;
    background-image: url(../assets/images/reg.png);
    background-repeat: no-repeat;
    padding: 55px 330px;
    margin-bottom: 100px;
}

.container .registration p:first-child{
    font-weight: 700;
    font-size: 52px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 16px;
}

.container .registration p:nth-child(2){
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-bottom: 32px;
}

.container .registration .email{
    width: 640px;
    height: 62px;
    background-color: rgba(255, 255, 255, 1);
    padding: 18px 30px;
    border: none;
    position: relative;
}

.container .registration .email::placeholder{
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.container .registration .Submit{
    height: 63px;
    position:absolute;
    right: 396px;
    bottom: 158px;
    z-index: 1;
}

footer{
    width: 100%;
    height: 380px;
    background: linear-gradient(rgba(2, 57, 87, 1), rgba(5, 96, 136, 1));
}

footer .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

footer .container .menu__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

footer .container .contact__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}